.aboutContainer{
    display: flexbox;
    position: absolute;
    align-self: center;
    justify-self: center;
    left: 28%;

    padding-top: 5%;
    height: 50%;
}
.h3Page2{
    word-spacing: 5px;
}
.extraStyle{
    align-self:flex-start;
    font-size: x-large;
    font-weight:500;
}