.container{
    position: fixed;
    display: flexbox;

    z-index: 1;
    width: 100%;
}
.brand{
    float: left;
    font-size: xx-large;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color:  rgb(223, 217, 217);
    margin: 1% 0 0 3%;
}
.nav-button{
    float: right;
    font-size: xx-large;
    margin: 1% 2% 0 1%;
    width: 6vh;
    height: 6vh;
    background: transparent;
    border: none;
    cursor: pointer;
}