.timeline-container{
    display: flexbox;    
    position: relative;
    align-self: center;
    top: 70%;
    height: 100%;
} 
.t-content{
    position: relative;
    top: 5%;
    width: 30%;
    height: 10%;
    margin-left: 12%;
    background-color: black;
    color:  rgb(223, 217, 217);
    padding: 3%;
}
.right{
    margin-left: 52.3%;
}
.vertical-line{
    position: absolute;
    top: 0%;
    bottom: 5%;
    left: 50%;
    width: 7px;
    background-color: black;
}
.t-content::after {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 100%;
    content: '';
    border: medium solid;
    border-width: 28px 0 28px 28px;
    border-color: transparent transparent transparent  black;
}
.right::after {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: -5%;
    content: '';
    border: medium solid;
    border-width: 28px 28px 28px 0px;
    border-color: transparent black transparent  transparent;
}



